.loading {
  width: 100%;
  height: 100%;
  background-color: transparent;

  img {
    height: 70px;
    width: 70px;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.course-page {
  margin: 0;
  padding: 0;

  .course-thumbnail {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }

  .join-button {
    background-color: #007bff;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
  }

  .join-button:hover {
    background-color: rgb(55, 182, 51);
    cursor: pointer;
  }

  .message-button {
    background-color: aquamarine;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
  }

  .reviewsHeader {
    display: flex;
    justify-content: space-between;

    .addReviewButton {
      background-color: aquamarine;
      padding: 5px 10px;
      border-radius: 20px;
      cursor: pointer;
      margin-right: 20px;
    }
  }

  .all-course-details {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }

  .course-basic-details {
    flex: 2;
  }

  .video-list {
    min-width: 300px;
    border-left: 1.5px dashed #81868c;
    padding-left: 20px;

    .videos-container {
      list-style: none;

      .video-item {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #81868c;
      }
    }

    .video-thumbnail {
      position: relative;
      display: inline-block;
    }

    .video-thumbnail img {
      width: 300px;
      height: 170px;
      transition: filter 0.3s ease;
      object-fit: cover;
      object-position: center;
    }

    .video-thumbnail:hover img {
      filter: blur(3px);
    }

    .video-thumbnail:hover {
      cursor: pointer;
    }

    .play-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease;
      color: white;
      font-size: 70px;
    }

    .video-thumbnail:hover .play-overlay {
      opacity: 1;
    }

    .play-overlay::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: background-color 0.3s ease;
    }

    .video-thumbnail:hover .play-overlay::before {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.review-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.review-form h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.review-textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rating-stars {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.star {
  color: #ccc;
  cursor: pointer;
}

.star.filled {
  color: gold;
}

.submit-review-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-review-button:hover {
  background-color: #0056b3;
}


.review-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  list-style: none;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  flex-grow: 1;
}

.user-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.review-date {
  margin: 0;
  color: #666;
}

.user-rating {
  display: flex;
}

.star {
  margin-right: 5px;
}

.review-content {
  margin: 0;
}
