.topInstrutors{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;

    img{
        width: 120px;
        height: 120px;
        object-fit: cover;
        object-position: center;
    }
}

.topInstrutors:hover{
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}