.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPageWrapper {
  padding: 20px;
  padding-top: 80px;

}

.course-list {
  display: flex;
  gap: 20px;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.topInstructors{
    .instructorsList{
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: 10px;
    }

    .instructorsList::-webkit-scrollbar {
        display: none;
      }
}