footer{
    color: gray;
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin-top: 20px;
    .morePages{
        display: flex;
        gap: 15px;
    }

    .extras:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}