@import '../../theme';


.login {
  width: 100%;
  height: 100vh;
  background: url('../../Components/Assets/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
  }

  h1 {
    font-size: 36px;
    text-align: center;
  }

  &__inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

    input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius: 40px;
      font-size: 16px;
      color: #fff;
      padding: 20px 45px 20px 20px;
      &::placeholder {
        color: #fff;
      }
    }
  }
  &__icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }

  &__rememberForget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  &__rememberForget label input {
    accent-color: #fff;
    margin-right: 4px;
  }
  &__rememberForget p {
    color: #fff;
    text-decoration: none;
  }

  &__rememberForget p:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #333;
  }

  &__submitBtn img{
    height: 30px;
  }

  &__registerLink{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }

  &__registerLink p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }

  &__registerLink p a:hover{
    text-decoration: underline;
  }

}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;

    h2 {
      text-align: center;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
    }

    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: $primary-color;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $hover-color;
      }
    }

    .modal__close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

