.createcoursepageContainer{
  display: flex;
  flex-direction: column;
}

.create-course-page {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 5rem;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    label {
      display: block;
      margin-bottom: 10px;
    }

    .level{
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      gap: 15px;
      
      label{
        margin: 0;
      }

      select{
        height: 20px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
      }

    }

    input[type="file"] {
      display: none;
    }

    input[type="file"] + label {
      padding: 7px 10px;
      border-radius: 10px;
      font-size: 1em;
      font-weight: 400;
      color: white;
      background-color: #007bff;
      display: flex;
      flex-direction: row;
      width: fit-content;
      gap: 10px;
      cursor: pointer;
    }

    input[type="file"]:focus + label,
    input[type="file"] + label:hover {
      background-color: red;
    }

    input[type="file"] + label {
      cursor: pointer; /* "hand" cursor */
    }

    input[type="file"]:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      resize: vertical;
    }

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .video-preview {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #708090;
    display: flex;
    border-radius: 10px;

    &__info {
      display: flex;
      flex-direction: column;
      margin: 10px;
      margin-right: 20px;
    }

    &__media {
      border-left: 1px dashed #708090;
      padding-left: 20px;
      display: flex;
      flex-direction: row;
    }

    video {
      width: 350px;
      height: 200px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    p {
      font-weight: bold;
      margin-bottom: 5px;
    }

    img {
      width: 350px;
      height: 200px;
      border-radius: 5px;
      object-fit: cover;
    }
  }

  .thumbnailPreview {
    max-width: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

.buttonContainer {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #708090;
  align-items: center;
}

.uploadProgress {
  width: 100%;
  height: 20px;
}

.thumbnail-preview {
  margin-top: 20px;
  img {
    max-width: 200px;
    max-height: 200px;
  }
}
